<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Buildings">
    <div class="container">
      <h3>Buildings</h3>
      <mat-list role="list">
        <mat-list-item role="listitem">Building 1</mat-list-item>
        <mat-list-item role="listitem">Building 2</mat-list-item>
        <mat-list-item role="listitem">Building 3</mat-list-item>
      </mat-list>
    </div>
  </mat-tab>
  <mat-tab label="Occupants">
    <div class="container">
      <h3>Occupants</h3>
    </div>
  </mat-tab>
</mat-tab-group>
